@import "../../../utilities/variables.scss";

.footer-container{
  background-color: #0C0C0C;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .reserved{
    position: absolute;
    bottom: 10px;
    font-weight: 600;
    font-size: 18px;
  }
  .footer-design {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;

  .logo {
    height: 50%;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .website-name{
      width: 60%;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    height: 60%;
    gap: .5rem;
  }

  .menu {
    border-right: 2px solid $old_lace;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60%;
    padding-top: .5rem;
    
    .list-item {
      list-style-type: none;

      .item {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        &:hover{
          color: #8CB9BD;
        }
      }
    }
  }

  .info {
    padding-top: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60%;

    .text {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
    }
  }
}
.policies{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  .list-item{
    .item {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      &:hover{
        color: #8CB9BD;
      }
    }
  }
}
}

.blog-page{
  .footer-container{
    background-color: $old_lace;

    .footer-design{
      .logo{
        .website-name{
          color: #0C0C0C;
        }
      }
      .menu{
        border-right: 1px solid #0C0C0C;
        .list-item{
          .item{
            color: #0C0C0C;
          }
        }
      }
      .info{
        border-right: 1px solid #0C0C0C;
        .text{
          color: #0C0C0C;
        }
      }
      .socials{
        .social{
          a{
            svg{
              fill: #0C0C0C;
            }
          }
        }
      }
    }
    .policies{
      .list-item{
        .item{
          color: #0C0C0C;
        }
      }
    }
    .reserved{
      color: #0C0C0C;
      strong{
        color: #0C0C0C;
      }
    }
  }
}


@media (max-width:744px){
	.footer-container{
    height: max-content;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-design {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
  
    .logo {
      display: flex;
      align-items: center;
      padding: 0rem;      
      width: 50%;
      order: 1;
      .img{
        display: none;
      }
      .website-name{
        font-size: 20px;
        font-weight: 600;
      }
    }    
    .socials {
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-left: 0rem;
      margin: 1rem 0rem;
      order: 2;
      gap: 2rem;
    }
    .menu {
      display: none;
    }
  
    .info {
      width: 100%;
      padding: 0rem;
      align-items: center;
      order: 3;
      margin-bottom: 3rem;
  
      .text {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
      }
    }
  }
  .policies{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .list-item{
      .item{
        font-size: 18px;
        font-weight: 600;
      }
    }
    }
    .reserved{
      width: 80%;
      font-size: 12px;
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
    }
}


.blog-page{
  .footer-container{
    .footer-design{
      .info{
        border: none;
      }
    }
  }
}
}

@media (max-width:390px){
  .footer-container{
    .footer-design{
      .logo{
        .website-name{
          width: 80%;
        }
      }
      .info{
        .street{
          display: none;
        }
      }
    }
    .policies{
      width: 100%;
      .list-item{
        .item{
          font-size: 16px;
        }
      }
    }
    .reserved{
      font-size: 14px;
      width: 100%;
    }
  }
}