@import "../../../utilities/variables.scss";

.hero-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-left: -160px;
  background-image: url("../../../../static//media/hero-codice.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    max-width: 926px;

    .slogan {
      font-weight: 600;
      font-size: 16px;
    }

    .title {
      font-weight: 700;
      font-size: 52px;
      text-align: center;
      line-height: 50px;
      margin-top: .5rem;
    }

    .website-name {
      font-weight: 600;
      font-size: 18px;
      margin-top: 1rem;
    }
  }
  .hero-call-to-action{
    margin-top: 5rem;
  }
}

@media (max-width:744px){
  .hero-design {
    margin-left: -32px;
  }
}
@media (max-width:390px){
  .hero-design {
    margin-left: -16px;
    .text{
      width: 90%;
      .slogan{
        font-size: 12px ;
        font-weight: 500;
      }
      .title{
        font-weight: 700;
        font-size: 32px;
      }
      .website-name{
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}

