$black               : #000;
$cod_gray            : #0C0C0C;
$white               : #fff;
$onyx_grey           : #353935;
$neptune             : #8CB9BD;
$neptune_variable    : #26666B;
$old_lace            : #FEFBF6;
$porche              : #ECB159;
$santa_fe            : #B67352;
$orange_variant      : #BB4C34
