@import "../../../../utilities/variables.scss";

.card-design {
  width: 358px;
  height: 442px;
  border-radius: 20px;
  border: 2px solid $old_lace ;
  background-color: $neptune_variable;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 295px;
    color: $old_lace;
    text-align: center;
  }

  .card-text {
    font-size: 14px;
    font-weight: 400;
    width: 326px;
    text-align: center;
  }
}