
.whatsapp{
    position: fixed;
    bottom: 4.5rem;
    left: 1rem;
    z-index: 100;
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    .icon-whatsapp{
        fill: #25d366;
        width: 45px;
        height: 45px
    }
    .whats-text{
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin-right: 1rem;
        text-align: center;
    }
}

@media (max-width:390px){
    .whatsapp{
        .whats-text{
            font-size: 18px;
        }
    }
}