@import "../../../utilities/variables.scss";
.cards-container{
    display: flex;
    justify-content: center;
    gap: 23px;
    width: 100%;
}

@media (max-width:744px){
    .cards-container{
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        .slider{
            width: 100%;
        }
    }
}
@media (max-width:390px){
    .cards-container{
      width: 85%;
      .slider{
        width: 100%;
    }
    }
  }