@import "../../utilities/variables.scss";

.contact-us-design{
  position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
      position: absolute;
      top: 15%;
    }
    .container-image{
        width: 80%;
        height: 100%;
        margin-left: -160px;
        background-image: url("../../../static//media/io.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0% 500px 0% 0%;
        display: flex;
        align-items: center;
        justify-content: center;

        .contact-container{
          background-color: $cod_gray;
          width: 548px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20rem;
          .contact-form{
            padding: 2rem 0rem;
            width: 100%;
            .subtitle{
              margin-left: 6%;
            }
            .form{
              width: 100%;
              width: 100%;
              align-items: flex-start;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              .form-label{
                width: max-content;
                &.last{
                  width: 100%;
                  align-items: flex-start;
                  width: 90%;
                  .textarea{
                    width: 100%;
                    padding-left: 0rem;
                    padding-right: 0rem;
                    
                  }
                }
                .input{
                  width: 200px;
                }
              }
            }
          }
        }
    }
    .container-text{
      width: 50%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      .profile-data{
        margin-bottom: 2rem;
        .name{
          font-size: 49px;
          font-weight: 700;
          margin-bottom: .5rem;
          text-transform: uppercase;
        }
        .profession{
          font-weight: 800;
          font-size: 24px;
          margin-bottom: 1rem;
        }
        .desc{
          font-size: 16px;
          font-weight: 300;
        }
      }
      .services-data{
        >h3 {
          font-weight: 600;
          font-size: 18px;
        }
        >p{
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 1rem;
        }
      }
    }
}

@media (max-width:744px){
    .contact-us-design{
        flex-direction: column;
        margin-top: 8rem;
        align-items: flex-start;
        height: 100%;
        .title{
          position: static;
          margin: 2rem 0rem;
          width: 100%;
          text-align: center;
        }
        .mobile-container-image{
          order: 2;
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          .container-image{
            height: 700px;
            margin-left: -32px;
            align-items: flex-start;
            border-radius: 0% 200px 0% 0%;
            width: 110%;
          }
          .contact-container{
            position: static;
            width: 100%;
            .contact-form{
              padding-left: 0rem;
              .form{
                align-items: flex-start;
              }
            }
          }
        }
        .container-text{
          width: 70%;
          margin-bottom: 2rem;
          .services-data{
            display: none;
          }
        }
    }
  }
  @media (max-width:390px){
    .contact-us-design{
      .title{
        font-weight: 800;
        font-size: 24px;
      }
      .mobile-container-image{
        .container-image{
          width: 115%;
          height: 500px;
        }
        .contact-container{
          width: 60%;
          margin: 0 auto;
          margin-bottom: 2rem;
          .contact-form{
            .form{
              align-items: flex-end;
              .form-label{
                .input{
                  width: 190px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .container-text{
        width: 100%;
        margin-bottom: 0rem;
        .profile-data{
          width: 100%;
          .name{
            font-size: 52px;
            font-weight: 700;
          }
          .profession{
            font-size: 24px;
            font-weight: 800;
            width: 80%;
          }
          .desc{
            width: 80%;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }
  