@import "../../../utilities/variables.scss";

.blog-page{
  .navbar{
    .menu-action{
      svg{
        stroke: #0C0C0C;
      }
    }
    .navbar-container{
      .navbar-list{
        .list-item{
          color: #0C0C0C;
          .services{
            .item{
              color: #0C0C0C;
            }
            svg{
              fill: #0C0C0C;
            }
          }
        }
        .language-switcher-design{
          .current-language{
            svg{
              fill: #0C0C0C;
            }
          }
        }
      }
    }
    &.scrolled{
      background-color: $old_lace;
    }
  }
}
.navbar{
  color: $old_lace;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1;
  background-color: transparent;
  &.scrolled{
    background-color: #0C0C0C;
  }
  
  .navbar-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    .logo{
      margin-right: 0%;
    }
    .navbar-list{
      width: max-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
      align-items: center;
      list-style-type: none;
      .list-item{
        display: flex;
        align-items: center;
        cursor: pointer;
        .services{
          display: flex;
          align-items: center;
        }
        .item{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
        .services-container{
          width: 625px;
          background-color: #0C0C0C;
          position: absolute;
          top: 65%;
          right: 35%;
          display: none;
          justify-content: space-between;
          padding: 0rem 2rem 2rem 2rem;
          border-radius: 0px 0px 20px 20px;
          border-top: 1px solid $old_lace;
          cursor: default;
          &.open{
            display: flex;
          }
          .row{
            .list-container{
              .title{
                font-size: 18px;
                font-weight: 600;
                margin: 1rem 0rem;
                margin-top: 2rem ;
              }
              .list-item{
                .item{
                  font-size: 16px;
                  font-weight: 300;
                  color: $old_lace;
                  &:hover{
                    color: #fefbf686;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width:744px){
  .navbar{
    padding: 1.5rem 2rem;
    padding-top: 0rem;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    &.open{
      background-color: #0C0C0C;
      height: 100vh;
      display: block;
      padding-top: 2.5rem;
      .item{
        .logo{
          display: none;
        }
      }
    }
    .menu-action{
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;
          z-index: 200;
          .item{
            border-bottom: 1px solid $black;
          }
          .language-switcher-design{
            z-index: 200;
          }
        }
      }
    }
  }
}