@import "../../../utilities/variables.scss";

.navbar{
  color: $old_lace;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: $neptune;
  z-index: 1;
  .navbar-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    .logo{
      margin-right: 0%;
    }
    .navbar-list{
      width: max-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      list-style-type: none;
      .list-item{
        .item{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}


@media screen and (max-width: '744px') {
  .navbar{
    padding: .5rem 0rem;
    border-bottom: none;
    .menu-action{
      margin-right: 1rem;
      width: 100%;
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;
          .item{
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
}