@import "../utilities/variables.scss";

.home-design{
    .hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        border: 1px solid $black;
    }
    .what-we-offer-section,.project-section,.digital-menu-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        border: 1px solid $black;
    }

}