@import "../../../utilities/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
  gap: 100px;
  .slick-list {  
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    .slick-track {
      height: 95%;
      .slick-slide {
        width: 220px;
        height: 100%;
        transition: width 0.5s ease-in-out;
        margin: 0 1px;
        border-radius: .5rem;
        border: 1px solid $old_lace  ;
        &:hover {
          width: 400px;
          box-shadow: 1px 3px 15px #fef7f65b;
          transform: translatey(-30px);
          border-radius: .5rem;
        }
        
        >div {
          height: 100%;
          .card {
            height: 100%;
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 1px 5px 15px #6e6e6e73;
            position: relative;
            overflow: hidden;
            
            &.img-one {
              background: url("../../../../static/media/tokio.jpg") no-repeat 50% / cover;
            }
            
            &.img-two {
              background: url("../../../../static/media/fondooriginal.jpg") no-repeat 50% / cover;
            }
            
            &.img-three {
              background: url("../../../../static/media/bgveggie.jpg") no-repeat 50% / cover;
            }
            &.img-four {
              background: url("../../../../static/media/saporedinatura.jpg") no-repeat 50% / cover;
            }
            &.img-five {
              background: url("../../../../static/media/drink.jpg") no-repeat 50% / cover;
            }
            &.img-six {
              background: url("../../../../static/media/thelab.jpg") no-repeat 50% / cover;
            }
            
            
            &:hover .content {
              opacity: 1;
              transform: translatey(0%);
              visibility: visible;

            }

            .content {
              font-size: 1.5rem;
              color: $old_lace;
              display: flex;
              align-items: center;
              padding: 15px;
              opacity: 0;
              flex-direction: column;
              height: 100%;
              justify-content: flex-end;
              background: #26666B;
              background: linear-gradient(0deg,
                  #0c0c0c9a 0%,
                  $old_lace 100%);
              transform: translatey(100%);
              transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
              visibility: hidden;
            }

          }
        }
      }
    }
  }
}

@media (max-width:390px){
  .container{
    width: 85%;
  }
}